<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="Server=; Database=; Trusted_Connection=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PartnerUser" value="PASSAREDO" />
    <add key="PartnerPassword" value="HRGH14PE" />
    <add key="CustomerUser" value="PTBEFB" />
    <add key="CustomerPassword" value="EFB888" />
    <!-- Caso o caminho não exista, o mesmo será criado -->
    <add key="PathFile" value="C:\Output" />
    <!-- O nome do arquivo não deve conter extensão, pois o mesmo por padrão será "CSV". O nome será acrescido da data, hora, minuto e segundo que o arquivo foi gerado -->
    <add key="FileName" value="Integracao" />
    <!-- Mensagem de log para quando o serviço for iniciado. -->
    <add key="LogServicoIniciado" value="Serviço de Integração iniciado" />
    <!-- Mensagem de log para quando o serviço for parado. -->
    <add key="LogServicoParado" value="Serviço de Integração parado" />
    <!-- Mensagem de log para quando o serviço for pausado. -->
    <add key="LogServicoPausa" value="Serviço de Integração pausado" />
    <!-- Mensagem de log para quando o serviço for reiniciado. -->
    <add key="LogServicoReinicio" value="Serviço de Integração reiniciado" />
    <!-- Em caso de erro no consumo do serviço, o erro será exibido com o prefixo configurado aqui -->
    <add key="PrefixErrorMessageGetData" value="Erro ao recuperar os dados" />
    <!-- Em caso de erro ao salvar os dados no banco sql, o erro será exibido com o prefixo configurado aqui -->
    <add key="PrefixErrorMessageSaveData" value="Erro ao salvar os dados" />
    <!-- Erro na leitura das configurações -->
    <add key="PrefixErrorLoadSettings" value="Configuração" />
    <!-- Em caso de erro ao criar o arquivo csv, o erro será exibido com o prefixo configurado aqui -->
    <add key="PrefixErrorMessageSaveFile" value="Erro ao gerar o arquivo csv" />
    <!-- Em caso de sucesso ao recuperar os dados do serviço -->
    <add key="PrefixSuccessGetData" value="Leitura do WS"/>
    <!-- Em caso de sucesso ao salvar as informações no banco de dados -->
    <add key="PrefixSuccessSaveData" value="Banco de dados" />
    <!-- Em caso de sucesso ao gerar o arquivo XMLS -->
    <add key="PrefixSuccessSaveFile" value="Arquivo XLS"/>
    <!-- Define a hora em que o serviço será executado. Isto não significa que será no horário exato, mas qualquer minuto dentro do horário especificado-->
    <add key="HoraExecucao" value="6" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EfbServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="EfbServiceSoap" contract="ServiceHelper.EfbServiceSoap" name="EfbServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>